{ "environment": "testing"
, "reportMgr": 
  { "domains": ["testdomain"]
  , "reports": [ {"name":"blacklist", "reportEngine":"Base", "storageEngine":"memory" } ]
  }
, bcdw: 
  { rabbit: 
    { connection: { url: "amqp://localhost:5672//" } 
		, exchanges:
			[ { name: 'cartographer-testing-replay'
				, type: 'topic'
				, passive: false
				, durable: false
				, autoDelete: true
				, auto_delete: true
				}
			, { name: this.internalexchangename
				, type: 'topic'
				, passive: false
				, durable: true
				, autoDelete: false
				, auto_delete: false
				}
			, { name: this.originexchangename
				, type: 'topic'
				, passive: false
				, durable: false
				, autoDelete: false
				, auto_delete: false
				}
			]
		, queues:
			[ { "name": this.internalqueuename
				, "bindings":
					[ { "routingKey": '#'
						, "exchange": this.internalexchangename
						}
					]
				, "passive": false
				, "durable": false
				, "exclusive": false
				, "autoDelete": true
				, "noDeclare": false
				, "arguments": { }
				, "closeChannelOnUnsubscribe": false
				, "subscribeOptions":
					{ "ack": false
					, "prefetchCount": 1
					}
				}
			, { "name": this.originqueuename
				, "bindings":
					[ { "routingKey": 'persist.#'
						, "exchange": this.originexchangename
						}
					, { "routingKey": 'reducer.'+this.environment+'.#'
						, "exchange": this.replayexchangename
						}
					]
				, "passive": false
				, "durable": false
				, "exclusive": false
				, "autoDelete": true
				, "noDeclare": false
				, "arguments": { }
				, "closeChannelOnUnsubscribe": false
				, "subscribeOptions":
					{ "ack": false
					, "prefetchCount": 1
					}
				}
			]
		}
  }
}
